html{
    box-sizing: border-box;    
}

body{
    display: flex;
}

#container{
display: flex;
flex-wrap: wrap;
height: 256px;
width: 256px;

}

.content{
border-style: solid;
border-color: black;
border-width: 1px;
height: 14px;
width: 14px;
}

div:hover{
    color: orange;
}